html{
    height: 100%;
} 

body{
    text-align: center;
    background: linear-gradient(30deg,#80fe5a, #5ce2f9);
    padding-top: 15%;
    
}

ul{
    list-style-type: none;
}

.heading{
    animation: heading-load 1s ease-out 0s;
    font-size: 54px;
}

.link{
    animation: link-load 1s ease-out 0s;
    font-size: 28px;
}

@keyframes heading-load {
	0% {
		transform: translateY(-400%);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes link-load {
	0% {
		transform: translateY(500%);
	}
	100% {
		transform: translateY(0);
	}
}