body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: blue;
}

#inputContainer {
    text-align: center;
}

#display {
    font-size: 2em;
    background-color: white;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#chord-dropdown {
    width: 9%;
}